.container__letter-container__letter-block__individual-letter
  .container__letter-container__letter-block__individual-letter__thumbnail
    = link_to letter_path(letter) do
      = image_tag letter.image.present? || "default_letter_image.jpg", class: "container__letter-container__letter-block__individual-letter__thumbnail__image"
      .container__letter-container__letter-block__individual-letter__thumbnail__picks-box
        .container__letter-container__letter-block__individual-letter__thumbnail__picks-box__cover
          .container__letter-container__letter-block__individual-letter__thumbnail__picks-box__cover__size
            = letter.comments_count
          .container__letter-container__letter-block__individual-letter__thumbnail__picks-box__cover__picks
            Picks
  .container__letter-container__letter-block__individual-letter__title
    %h2
      = link_to letter.title.truncate(28).present? || "No title", letter_path(letter), class: "container__letter-container__letter-block__individual-letter__title__font"

  = link_to letter_path(letter), class: "container__letter-container__letter-block__individual-letter__user" do
    .container__letter-container__letter-block__individual-letter__user__thumbnail
      = image_tag letter.comments.first.user.avatar.present? || "default_avatar.jpeg", class: "container__letter-container__letter-block__individual-letter__user__thumbnail__image"
    .container__letter-container__letter-block__individual-letter__user__info
      .container__letter-container__letter-block__individual-letter__user__info__name
        %h3
          = letter.comments.first.user.nickname.present? || "No name"
  = link_to letter_path(letter), class: "container__letter-container__letter-block__individual-letter__user-comment" do
    %p
      = letter.comments_by(letter.comments.first.user).content.truncate(53).present? || "No comment"

  .container__letter-container__letter-block__individual-letter__pickers
    - if letter.comments.length > 0
      - letter.best_seven_comments.each do |comment|
        = link_to user_path(comment.user) do
          = image_tag comment.user.avatar.present? || "image.jpeg", class: "container__letter-container__letter-block__individual-letter__pickers__individual-picker"

  .container__letter-container__letter-block__individual-letter__sub-info
    .container__letter-container__letter-block__individual-letter__sub-info__publisher
      - if letter.site_name.present?
        = letter.site_name.truncate(12)
      - else
        = "No site name"
    .container__letter-container__letter-block__individual-letter__sub-info__time
      - if letter.created_in_24hours?
        = "#{time_ago_in_words(letter.created_at)}å‰"
      - else
        = letter.created_time
