.container
  .container__contents-container
    .container__contents-container__contents-area
      .container__contents-container__contents-area__letter-image
        = link_to @letter.url, target: '_blank' do
          = image_tag @letter.image.presence || 'yogoken.png', class: 'container__contents-container__contents-area__letter-image__thumbnail'
      .container__contents-container__contents-area__letter-title
        = link_to @letter.title.truncate(40).presence || "NO TITLE", @letter.url, class: "container__contents-container__contents-area__letter-title__font", target: "_blank"
      .container__contents-container__contents-area__read-more
        = link_to "続きを読む", @letter.url, class: "container__contents-container__contents-area__read-more__btn", target: "_blank"


    .container__contents-container__news-comment
      - if user_signed_in? && @letter.user_comment(current_user).nil?
        .container__contents-container__news-comment__pick-editor
          .container__contents-container__news-comment__pick-editor__cover
            = image_tag current_user.avatar.presence || 'default_avatar.jpeg', class: "container__contents-container__news-comment__pick-editor__cover__avatar"
          = form_for [@letter, @comment] , method: :create do |f|
            .container__contents-container__news-comment__pick-editor__comment
              = f.text_area :content, class: "container__contents-container__news-comment__pick-editor__comment__form", placeholder: "コメントを書く（任意）"
            .container__contents-container__news-comment__pick-editor__pick
              = f.submit "Pick", class: "container__contents-container__news-comment__pick-editor__pick__btn"

      .container__contents-container__news-comment__comments
        - @comments.each do |comment|
          .container__contents-container__news-comment__comments__individual
            .container__contents-container__news-comment__comments__individual__user
              .container__contents-container__news-comment__comments__individual__user__cover
                = link_to user_path(comment.user) do
                  = image_tag comment.user.avatar.presence || "image.jpeg", class: "container__contents-container__news-comment__comments__individual__user__cover__avatar"
              .container__contents-container__news-comment__comments__individual__user__info
                .container__contents-container__news-comment__comments__individual__user__info__name
                  = link_to comment.user.nickname.presence || "No name", user_path(comment.user), class: "container__contents-container__news-comment__comments__individual__user__info__name__font"
                .container__contents-container__news-comment__comments__individual__user__info__created-at
                  = time_ago_in_words comment.created_at
                - if current_user == comment.user
                  = link_to "削除", letter_comment_path(@letter, comment), method: :delete, class: "container__contents-container__news-comment__comments__individual__user__info__destroy", id: "comment-edit-btn"
            .container__contents-container__news-comment__comments__individual__comment
              .container__contents-container__news-comment__comments__individual__comment__content
                = comment.content
              .container__contents-container__news-comment__comments__individual__comment__like-container
                .container__contents-container__news-comment__comments__individual__comment__like-container__contents-container__like-panel{id: "like-btn-#{comment.id}"}
                  - if user_signed_in?
                    - unless comment.likes.exists?(user_id: current_user.id)
                      = render partial: "letters/like_btn", locals: { comment: comment }
                    - else
                      = render partial: "letters/like_btn_red", locals: { comment: comment }
                  - else
                    = render partial: "letters/like_btn", locals: { comment: comment }
