.header
  .header__title
    %h1
      = link_to 'What does the fox say', root_path, class: 'header__title__font'
  .header__nav
    - if user_signed_in?
      .header__nav__user#user-header-image
        = image_tag "yogoken.png", class: 'header__nav__user'
      = image_tag "pen.png", class: 'header__nav__new-letter', id: "letter-new"
      = render partial: 'letters/new_modal'
    - else
      .header__nav__regist
        = link_to '無料登録', new_user_session_path, class: 'header__nav__regist__font'
      .header__nav__login
        = link_to 'ログイン', new_user_session_path, class: 'header__nav__login__font'

- if user_signed_in?
  .user#user-back
    .user__back#user-back-close
      .user__back__user-menu#user-menu-container
        .user__back__user-menu__user-name
          = link_to current_user.nickname.presence || 'zerO', user_path(current_user), class: 'user__back__user-menu__user-name__font'
        .user__back__user-menu__logout
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'user__back__user-menu__logout__font'
