.header
  .header__title
    %h1
      = link_to 'TECH::SHARE', root_path, class: 'header__title__font'
  .header__nav
    - if user_signed_in?
      .header__nav__user#user-header-image
        = image_tag current_user.avatar, class: 'header__nav__user__avatar'
      = image_tag "book.png", class: "header__nav__user-index", id: "books"
      = image_tag "pen.png", class: 'header__nav__new-letter', id: "letter-new"
      = render partial: 'letters/new_modal'
    - else
      .header__nav__regist
        = link_to '無料登録', new_user_registration_path, class: 'header__nav__regist__font'
      .header__nav__login
        = link_to 'ログイン', new_user_session_path, class: 'header__nav__login__font'

- if user_signed_in?
  .user#user-back
    .user__back#user-back-close
      .user__back__user-menu#user-menu-container
        .user__back__user-menu__user-name
          = link_to current_user.nickname.presence || 'No name', user_path(current_user), class: 'user__back__user-menu__user-name__font'
        .user__back__user-menu__user-edit
          = link_to "設定", edit_user_path(current_user), class: "user__back__user-menu__user-edit__font"
        .user__back__user-menu__logout
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'user__back__user-menu__logout__font'
- if user_signed_in?
  .book#books-back
    .book__back#books-back-close
      .book__back__book-menu#books-menu-container
        = link_to users_path, class: "book__back__book-menu__books-path" do
          = image_tag "pro.png", class: "book__back__book-menu__books-path__image"
          .book__back__book-menu__books-path__sentence
            Pickerのおすすめ本
        = link_to "おすすめ本の投稿", new_user_book_path(current_user), class: "book__back__book-menu__posting-book"
