!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pic
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/header'
    - flash.each do |type, msg|
      - if type == 'notice' && msg.blank?
        = image_tag 'logo.png', id: 'logo'
      - else
        %div{ class: "#{type}", id: 'flash' }
          = msg
    = yield
